.myCarousel {
    color: var(--primary-white);
    background: transparent;
    margin-top: -6%;
    width:54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 17.875rem;
}

.carousel .slide img {
    
}