.portfolio-wrapper {
    background: var(--primary-light-grey);
    padding: 3rem 0;
}

.portfolio-image {
    width: 15rem;
    width: 15rem;
    height: 9rem;
    border: 1px solid var(--primary-orange);
    padding: 0.5rem;
}

.portfolio-image-box {
    position: relative;
    width: 15rem;
    height: 9rem;
    margin: 1rem;
}

.overflow {
    position: absolute;
    opacity: 0;
    background: var(--primary-black);
    width: 15rem;
    height: 9rem;
    top: 0;
    border: 1px solid var(--primary-red);
    cursor: pointer; 
}

.portfolio-image-box:hover .overflow {
    opacity: 60%;
    transition: 0.3s ease-in-out;
}