.contacts {
    background: var(--primary-dark);
    padding: 3rem 0;
}

.contacts h1 {
    color: var(--primary-orange);
    padding: 1.3rem 0; 
    text-transform: uppercase;
}

.contacts p {
    color: var(--primary-light-grey);
    font-size: 1.2rem;
}