.header-wrapper {
    position: relative;
    background: url(wall-and-laptop-background.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed" sans-serif;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
}

.typed-text {
    font-size: 2rem;
    color: var(--primary-white); 
}

/**************************************HEAD******************************************/
.btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: .625rem .75rem .75rem .75rem;
    color: var(--primary-white);
    
}
